<h1>Pick a number below:</h1>
<% for number in 1..5 %>
	<%= link_to image_tag("secret_numbers/#{number}.jpeg"), secret_path(number) %>
<% end %>

<p><%= link_to 'home', root_path %></p>


<!--   

localhost:3000/rails/info/routes
there is a path named secret_path
once you hook up the number, the thing gets to
/secrets/:guess(.:format) 
guess -> is not a definite one, so you have to define a specific one

notice for "number", link_to number, secret_path(number) -> number is there becasue for :guess -> uncertian values, you have to define more
 for number in 1..5
	link_to number, secret_path(number) 

-->