<h1>Pick one below:</h1>

<% for shape in ["rock", "scissors", "paper"] %>
	<%= link_to image_tag("rock_paper_scissors/#{shape}.jpeg"), rock_path(shape) %>
<% end %>

<p><%= link_to 'home', root_path %></p>
