<h1>Welcome to Game Center</h1>
<p>Choose a game below:</p>
<p><%= link_to(image_tag('games/secret-number.jpg'), new_secret_path) %></p>
<p><%= link_to(image_tag('games/rock-paper-scissors.jpg'), new_rock_path) %></p>
